/* Styles for the main container */
.container {
    display: flex;
    justify-content: space-between;
}

/* Styles for the content wrapper */
.wrapper {
    position: relative;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    border-radius: 20px;
    padding: 2%;
}

/* Styles for images inside the wrapper */
.wrapper img {
    width: 50%;
    height: auto;
    object-fit: cover;
    position: relative;
}

/* Styles for paragraphs inside the wrapper */
.wrapper p {
    width: 50%;
    text-align: justify;
    color: #fff;
    padding: 0px 2%;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Manrope', sans-serif;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {

    /* Adjust wrapper layout for smaller screens */
    .wrapper {
        display: flex;
        align-items: center;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 2%;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
    }

    /* Adjust paragraph width for smaller screens */
    .wrapper p {
        width: 90%;
    }

    /* Adjust image width and border radius for smaller screens */
    .wrapper img {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
}